a {
    color: white;
}

.work {
    color:  rgb(58, 58, 58);
}

a.Contacts {
    color: rgb(58, 58, 58);
}

.AboutMe {
    background-image: url("images/Hills.jpeg");
}


body{
    background: rgb(58, 58, 58);
    color: White;
    font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}  

div {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: black;
    background-image: url("images/SnowCastle.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
}

.Home {
    background-image: url("images/ocean.jpg");
    background-position: right;
    height: 900px;
}

li.navBar {
    display: inline-block;
    margin-right: 20px;
}

li {
    
}

section.Lions {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Lions img {
    border: 1px solid white;
    box-shadow: gray 0 0 10px;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

section {
    text-align: center;
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

ol {
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.Work {
    background-image: url("images/NeonCity.jpeg");
    background-position: bottom;
}

@media screen and (max-width: 675px) {
    header {
        height: 200px;
    }
}

@media screen and (max-width: 365px) {
    header {
        height: 100px;
    }
}

